@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Zilla+Slab:ital,wght@0,300;0,400;1,300&display=swap');

body {
    font-family: Zilla Slab;

}


 .brand-logo {
     font-family: Dancing Script;
 }

.content {
  background-color: #fbf7ef;
}



 /*-- Footer --*/

 .social {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  .social a {
    font-size: 1.5em;
    padding: 0 50px;
  }

