@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Zilla+Slab:ital,wght@0,300;0,400;1,300&display=swap');

body {
	font-family: Zilla Slab;
	/*-- Sticky Footer--*/
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*-- Sticky Footer--*/

main {
	flex: 1 0 auto;
}

/*-- Base Template --*/
/*Navbar and footer*/

.nav-extended,
.page-footer {
	background-color: #10375d;
}
/*brand logo*/
.brand-logo {
	font-family: Dancing Script;
	padding-left: 30px;
}
/*flash messages*/
.flash {	
	padding: 20px;
	background-color: #e0e2d5;	
	z-index: 100;
}
/*main content*/
.content {
	background-color: #FAF9F6;
	padding: 5%;
}


hr {
	width: 100px;
	height: 5px;
	border: 0;
	background-color: #10375d;
}
.card-image img {
	width: 232px;
	height: 240px;
	object-fit: cover;
}

/*-- Home Page--*/
.hero_image {
  height: 100vh;
	background: url('../images/hero-image.jpeg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;
	opacity: 0.9;
}

/* Buttons */
.closebtn {
	padding: 20px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.btn {
	border-radius: 25px;
	border: 2px solid #10375d;
	background-color: #10375d;
}

btn:hover {
	background-color: #10375d;
}
.card {
	border-radius: 10px;
}
.card-action a {
	padding-bottom: 10px;
}
/*Show Post
#show-post img {
	height: 400px;
	width: 900px;
}
*/
#map {
	overflow: hidden;
}

.show-post {
	border: 1px solid #000;
}

/*-- Footer --*/

.social {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.social a {
	font-size: 1.5rem;
	padding: 0 50px;
}
.social a:hover {
	transform: scale(1.2);
}

