{% extends "base.html" %}
{% block title %}Access Forbidden{% endblock %}
{% block content %}
<div class="row">
   <h1 class="center-align">Access Forbidden</h1>
   <div class="col 12 m6">
      <h4>Sorry!</h4>
      <h5>
      You Are Not Allowed In here.
      <h5>
      <a href="{{ url_for('home') }}">Go Somewhere Nice</a>
   </div>
   <div class="col s12 m6">
      <img src="{{ url_for('static', filename='images/favicon.svg')}}" width="=540" height="400" alt="SVG image of Kangaroo">
   </div>
</div>
{% endblock %}