{% extends "base.html" %}

{% block content %}
<h5 class="center-align">Add Comment</h5>

<div class="row">
   <form class="col s12" method="POST" action="{{ url_for('add_comment') }}">
        <!-- name -->
       <div class="row">
           <div class="input-field col s12 m8 offset-m2">
             <input id="first_name" name="first_name" type="text" class="validate">
             <label for="first_name">First Name</label>
           </div>   
       <!-- Comment -->
       <div class="row">
           <div class="input-field col s12 m8 offset-m2">          
              <textarea id="comment" name="comment" type="text" class="materialize-textarea validate"></textarea>
              <label for="comment">Comment</label>
           </div>
       </div>
       <div class="row center-align">
           <button class="btn transparent black-text" type="submit" name="action">
           Submit                   
           </button>
        </div>

   </form>
</div>



{% endblock %}