{% extends "base.html" %}

{% block content %}

<div class="row">
   <!--Contact Title-->
   <div class="col s12">
      <h3 class="center-align">Add Comment</h3>
      <hr>
   </div>
   <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_comment', blog_id=post._id) }}">
      <!-- Title -->
      <div class="row">
         <div class="input-field col s12">
            <input id="title" name="title" type="text" minlength="5" maxlength="50"
               value="{{ post.title }}" class="validate"></input>
            <label for="title">Title</label>
         </div>
      </div>
      <!-- Name -->
      <div class="row">
         <div class="input-field col s6">
           <input id="name" name="name" type="text" class="validate">
           <label for="name">Name</label>
         </div>
         <div class="input-field col s6">
           <input id="description" name="description" type="text" class="validate">
           <label for="description">Comment</label>
         </div>
       </div>
     
      <!-- Save / Cancel -->
      <div class="row">
         <a class="btn-flat red-text right" href="{{ url_for('get_posts', username=session['user']) }}">
         <strong>Cancel</strong>
         </a>
         <button class="btn-flat right" type="submit" name="action">
         <strong>Save</strong>                    
         </button>
      </div>
   </form>
 </div>
 

{% endblock %}