{% extends "base.html" %}

{% block content %}

<h3>All Meet Ups</h3>

<div class="row">
  {% for post in posts %}
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
        {% if post.image_url == "" or post.image_url is none %}
        <img class="responsive-img" src="{{ url_for('static', filename='images/default-image.jpeg') }}" alt="harbour bridge">
        {% else %}
        <img class="responsive-img" src="{{ post.image_url }}" alt=""> 
        {% endif %}       
      </div>
      <div class="card-content">
        <span class="card-title">{{ post.title }}</span>
        <p><span><strong>Location:</strong> {{ post.location }}</span></p>
        <p><span><strong>Date:</strong> {{ post.date }}</span></p>
      </div>      
      <div class="card-action">
        <span>Created by: {{ post.created_by }}</span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  
{% endblock %}
