{% extends "base.html" %}

{% block content %}

<h3>All Meet Ups</h3>

<div class="row">
  {% for post in posts %}
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
        {% if post.image_url == "" or post.image_url is none %}
        <img src="{{ url_for('static', filename='images/default-image.jpeg') }}"
        width="232" height="200" alt="harbour bridge">
        {% else %}
        <img src="{{ post.image_url }}" width="232" height="200" alt="url image"> 
        {% endif %}       
      </div>
      <div class="card-content">
        <span class="card-title"><strong>{{ post.title }}</strong></span>
        <p><span><strong>Location:</strong> {{ post.location }}</span></p>
        <p><span><strong>Date:</strong> {{ post.date }}</span></p>
      </div>      
      <div class="card-action">
        <span>Created by:<em> {{ post.created_by }}</em></span>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  
{% endblock %}
