{% extends "base.html" %}

{% block content %}

<div class="row">
  <!--Contact Title-->
  <div class="col s12">
     <h3 class="center-align">Create Event</h3>
  </div>
  <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('create_post') }}">
     <div>
        <!-- Title -->
        <div class="row">
           <div class="input-field col s12">
              <input id="title" name="title"  type="text" class="validate"></input>
              <label for="title">Title</label>
           </div>
        </div>
        <!-- Image -->
        <div class="row">
           <div class="input-field col s12">                    
              <input id="image_url" name="image_url" type="url" class="validate"></input>
              <label for="image_url">Image</label>
              <span>Please add url for image</span>
           </div>
        </div>
        <!-- location -->                
        <div class="row">
           <div class="input-field col s12">
              <input id="location" name="location"  type="text" class="validate"></input>
              <label for="location">Location</label>
           </div>
        </div>
        <!-- due date picker -->
        <div class="row">
           <div class="input-field col s12">                  
              <input id="date" name="date" type="text" class="datepicker validate" required>
              <label for="date">Date</label>
           </div>
        </div>
        <div class="row center-align">
           <button class="btn transparent black-text" type="submit" name="action">
           Add Event                    
           </button>
        </div>
  </form>                
</div>


{% endblock %}