{% extends "base.html" %}
{% block banner %}
<!--Hero Image-->
   <div class="hero_image">
      <div class="row center-align">
         <h2 class="black-text center-align"><strong><em>Welcome</em></strong></h2>
         <h5 class="black-text center-align">
            Wild Aussie is about creating lifelong trekking memories
            in and around Sydney and New South Wales.
         </h5>
      </div>
      <div class="row center-align">
         <a href="{{ url_for('register') }}" class="btn btn-flat white-text">Join Us</a>    
      </div>
   </div>
{% endblock %}
{% block content %}
<!--Featured Content (Randomly generated)-->
   <h5 class="center-align">Featured Treks</h5>
   <hr>
   <div class="row">
      {% for post in posts %}
      {% if loop.index <=3 %}
      {% if session.user %}
      <!--Logged in Users can view entire post-->
      <div class="col s12 m4">           
         <a href="{{ url_for('show_post', blog_id=post._id) }}">
            <div class="card">
               <div class="card-image">
                  {% if post.image_url == "" or post.image_url is none %}
                  <img src="{{ url_for('static', filename='images/default-image.jpeg') }}" alt="harbour bridge">
                  {% else %}
                  <img src="{{ post.image_url }}" alt="{{post.title}}"> 
                  {% endif %}       
               </div>
               <div class="card-content">
                  <span class="card-title black-text"><strong>{{ post.title }}</strong></span>
                  <p class="black-text"><span><strong>Location:</strong> {{ post.location }}</span></p>
                  <p class="black-text"><span><strong>Date:</strong> {{ post.date_picker }}</span></p>
               </div>
            </div>
         </a>
      </div>
         {% else %}
         <!--Users not logged in will be redirected to login page if they want to view details of featured Treks-->
         <div class="col s12 m4">
            <a href="{{ url_for('login') }}">
               <div class="card">
                  <div class="card-image">
                     {% if post.image_url == "" or post.image_url is none %}
                     <img src="{{ url_for('static', filename='images/default-image.jpeg') }}" alt="harbour bridge">
                     {% else %}
                     <img src="{{ post.image_url }}" alt="{{post.title}}"> 
                     {% endif %}       
                  </div>
                  <div class="card-content">
                     <span class="card-title"><strong>{{ post.title }}</strong></span>
                     <p><span><strong>Location:</strong> {{ post.location }}</span></p>
                     <p><span><strong>Date:</strong> {{ post.date_picker }}</span></p>
                  </div>
               </div>
            </a>                   
         </div>
         {% endif %} 
      {% endif %}
      {% endfor %}
   </div>
{% endblock %}
