{% extends "base.html" %}
{% block content %}
<!--Profile Banner-->
<div class="row">
   <div class="col s12 m8 offset-m2">
      <h3 class="center-align">{{ username | capitalize }}'s Profile</h3>
   </div>
</div>
      <div class="row">
         <div class="col s12 m8 offset-m2">
      <a class="transparent btn black-text left" href="{{ url_for('create_post') }}">
         <i class="fas fa-plus"> Create Trek</i>
      </a>
   </div>
 </div>
<!--Created Treks-->
<h4 class="center-align">My Planned Activities</h4>
<hr>
<div class="row">
   {% for post in posts %}
   {% if session.user|capitalize == post.created_by|capitalize %}
      <div class="col s12 m4">
         <a href="{{ url_for('show_post', blog_id=post._id) }}">
            <div class="card">
               <div class="card-image">
                  {% if post.image_url == "" or post.image_url is none %}
                  <img src="{{ url_for('static', filename='images/default-image.jpeg') }}" alt="Uluru">
                  {% else %}
                  <img src="{{ post.image_url }}" alt="url image"> 
                  {% endif %}          
               </div>
               <div class="card-content">
                  <span class="card-title"><strong>{{ post.title }}</strong></span>           
                  <p><span><strong>Location:</strong> {{ post.location }}</span></p>
                  <p><span><strong>Date:</strong> {{ post.date_picker }}</span></p>
               </div>
               <div class="card-action">
                  <span>
                     Created by:<em> {{ post.created_by }}</em>
                     <!-- Action links -->                  
                     <a class="black-text right" href="{{ url_for('edit_post', blog_id=post._id) }}"><i class="far fa-edit"></i></a>
                     <!-- Modal Trigger -->
                     <a class="black-text modal-trigger right" href="#modal1"><i class="far fa-trash-alt"></i></a> 
                  </span>              
               </div>               
            </div>
            <!-- Delete Modal -->
            <div class="delete_modal">
               <!-- Modal Structure -->
               <div id="modal1" class="modal">
                  <div class="modal-content">
                     <h4>Are you sure you want to delete post?</h4>
                     <p>Deleted posts cannot be retrieved</p>
                  </div>
                  <div class="modal-footer">
                     <a href="{{ url_for('delete_post', blog_id=post._id) }}"
                           class="modal-close waves-effect waves-green btn-flat">Yes</a>
                     <a href="{{ url_for('my_page', username=session['user']) }}"
                           class="modal-close waves-effect waves-green btn-flat">No</a>
                  </div>
               </div>
            </div>
         </a>
      </div>
   {% endif %}
   {% endfor %}
</div>
{% endblock %}