{% extends "base.html" %}
{% block content %}
<!--title-->

<h3 class="center-align"><strong>{{ post.title }}</strong></h3>
<h6 class="center-align pink-text">POSTED ON {{ post.date }} BY {{ post.created_by }}</h6>
      <div id="show-post" class="row">         
         <div class="col s12 m8 offset-m2"> 
            <div class="card-panel">
               {% if post.image_url == "" or post.image_url is none %}
                  <img src="{{ url_for('static', filename='images/default-image.jpeg') }}"
                   width="900" height="400"  alt="harbour bridge">
               {% else %}
                  <img src="{{ post.image_url }}" width="900" height="400" alt="url image">
               {% endif %}
               
            </div>
         </div>
      </div>

<!--Edit and Delete controls-->
   {% if session.user|lower == post.created_by|lower %}
   <div class="row">
      <div class="col s12">               
         <a class="green-text" href="{{ url_for('edit_post', blog_id=post._id) }}"><i class="far fa-edit"></i> EDIT</a>
      </div>
      <div class="col s12">
         <!-- Modal Trigger -->
         <a class="red-text modal-trigger" href="#modal1"><i class="far fa-trash-alt"></i> DELETE</a>                
      </div>
   </div>
   {% endif %}
   <!--Trekk Details-->
   <div class="row center-align show-post">
      <div class="col s12 m6">
         <h5>{{ post.title }}</h5>
         <p><i class="fas fa-map-marker-alt"></i>: {{ post.location }}</p>
         <p><i class="fas fa-calendar-alt"></i>: {{ post.date_picker }}</p>
         <p><i class="fas fa-route"></i>: {{ post.distance }}</p>
         <p><i class="fas fa-hiking"></i>: {{ post.grade }}</p>
         <p>{{ post.description }}</p>
      </div>
      <div class="col s12 m6">
         <div class="transparent" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d424146.1027903225!2d150.65178958903746!3d-33.847356694279874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b129838f39a743f%3A0x3017d681632a850!2sSydney%20NSW%2C%20Australia!5e0!3m2!1sen!2suk!4v1631645240315!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>      
         </div>
      </div>
      <!-- Delete Modal -->
      <div class="delete_modal">
         <!-- Modal Structure -->
         <div id="modal1" class="modal">
            <div class="modal-content">
               <h4>Are you sure you want to delete post?</h4>
               <p>Deleted posts cannot be retrieved</p>
            </div>
            <div class="modal-footer">
               <a href="{{ url_for('delete_post', blog_id=post._id) }}"
                  class="modal-close waves-effect waves-green btn-flat">Yes</a>
               <a href="{{ url_for('my_page', username=session['user']) }}"
                  class="modal-close waves-effect waves-green btn-flat">No</a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}
